body {
    background-color: #222;
}
#plot {
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
#plotlist {
    width: 20vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.listElem {
    padding: 20px;
    font-size: larger;
    color: #90B1ED;
}
