/* Use flexbox so I don't have to gouge my eyes out (too bad so sad, IE)*/

body {
    background-color: #333;
    font-family: monospace;
    margin: 0;
    /*overflow: none;*/

    display: flex;
}


a {
  color: #69b;
}

p {
  color: #ccc;
  font-size: 11pt;
}


#left-pane {
  height: 100vh;
  /*max-width: 50%;*/
  order: 0;
  flex: 0 0 600px;

  display: flex;
  flex-direction: column;
}


#proj-site-link {
  order: 0;
  flex-grow: 0;

  text-align: center;
}


#expl {
  order: 1;

  margin-top: 0;
  text-align: center;
}


#select-box {
  order: 2;
  flex-grow: 0;

  font-family: monospace;
  text-align: center;
  font-size: 11pt;
}


#editor {
  order: 3;
  flex-grow: 1;
  flex-shrink: 1;
}


#plot {
  height: 100vh;
  order: 1;

  flex: 1 1 auto;
}
