body {
    background-color: #222;
}
#plot {
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
#editor {
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
#run-btn {
    width: 60px;
    height: 30px;
    position: absolute;
    top: 70px;
    right: 67vw;
    z-index: 1000;
}
#reset-text-btn {
    width: 140px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 67vw;
    z-index: 1000;
}
