body {
  background-color: #222;
}


#plot {
  width: 60vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}


#editor {
  width: 40vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


#buttons {
  position: absolute;
  right: 62vw;
  top: 10px;
  height: auto;
  width: auto;
  z-index: 9999999;
}


.btn {
  width: auto;
  /*height: 30px;*/
  font-family: monospace;
  font-size: 14pt;
  margin-left: 10px;
}
